.container {
    display: flex;
    flex-direction: column;
    background-color: #bbdefb;
    height: 100%;
    width: 70%;
}
.containerLabel {
    display: flex;
    justify-content: space-between;
    background-color: #bbdefb;
    height: 100%;
}
.item1 {
    flex: 1 1 auto;
}
.checkbox{
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);

    order:0;
    flex: 1 1 auto;
    align-self:center;
    width: 120%;

}
.item2 {

    order:0;
    flex: 1 1 auto;
    align-self:center;
    width: 100%;
    margin-left: 20%;
}